calendarWidth = 250px

.date_picker
  padding 30px
  border-radius 5px
  border 1px solid #e4e7ea
  color #303030
  margin-top 30px
  display flex
  flex-direction column
  flex-basis calendarWidth
  max-width calendarWidth
  font-family 'PT Sans', sans-serif

  &-month
    &_header
      display flex
      justify-content space-between
      align-items center
      margin-bottom 20px

      &_wrapper
        text-align center
        margin 0 auto 25px

      &_title
        font-size 20px

  &-header_button
    cursor pointer
    background transparent
    border-radius 50%
    border 1px solid #e4e7ea
    transition border .1s ease-in, color .1s ease-in
    position relative
    height 35px
    width 35px

    &:focus
      outline 0

    &.is-disabled
      cursor default

    &.is-next,
    &.is-prev
      &:before
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        transition fill .1s ease-in
        color #303030

      ^[1].is-disabled &
        color #acb3bb

      ^[0]-calendar_wrapper.is-shortcut_hover_outrange &
        border-color #4a90e2
        background #e7f5ff

    &.is-prev:before
      content '<'

    &.is-next:after
      content '>'

  &-days_of_week
    font-size 13px
    display flex
    color #c3c3c3
    text-align center
    margin-bottom 25px

    &_day
      flex-basis 15%

  &-week
    display flex
    margin-bottom 8px

    &:last-of-type
      margin-bottom 0

  &-day
    height 34px
    width 34px
    vertical-align middle
    font-size 15px
    user-select none
    display flex
    align-items center
    justify-content center
    flex-basis 15%
    background #ffffff
    position relative
    border-radius 50%
    margin 0
    padding 0
    border none
    outline 0

    &:first-of-type,
    &:last-of-type
      &:hover
        border-radius 50%

    &:first-of-type
      border-radius 50% 0 0 50%

    &:last-of-type
      border-radius 0 50% 50% 0

    &.is-prev_month,
    &.is-next_month
      color rgba(#acb3bb, .85)

    &.is-today
      font-weight 700

    &.is-selected
      background #e3effc
      color #404040
      position relative
      z-index 1
      border-radius 0

      &:first-of-type
        border-radius 50% 0 0 50%

      &:last-of-type
        border-radius 0 50% 50% 0

      &::before
        background #3863a0
        top 0
        left 0
        width 100%
        height 100%
        position absolute
        z-index -1
        border-radius 50%
        color #ffffff

        .date_picker-calendar_wrapper.is-shortcut_hovered &
          background #4a90e2

      &:hover::before
        content ''
        box-shadow inset 0 0 1px 0 #3863a0
        background #e3effc
        color #404040

        ^[2].is-start_selection&,
        ^[2].is-end_selection&
          background #3863a0

      &.is-start_selection,
      &.is-end_selection
        background #e3effc
        color #ffffff

        &::before
          content ''

      &.is-start_selection
        border-radius 50% 0 0 50%

        &:last-of-type
          border-radius 50%

      &.is-end_selection
        border-radius 0 50% 50% 0

        &.is-start_selection,
        &:first-of-type
          border-radius 50%

    &.is-selectable
      cursor pointer
      position relative

      &:before
        top 0
        left 0
        bottom 0
        right 0
        display block
        width 100%
        height 100%
        position absolute

      &:hover:not(.is-selected)
        z-index 1
        box-shadow inset 0 0 1px 0 #3863a0

    &.is-not_selectable
      color #e4e7ea

  &-notice
    font-size 11px
    font-weight 700
    margin-bottom 15px
    border-radius 5px
    padding 15px
    color #ffffff
    background #ff6c7e
    max-width 238px
