{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "jquery": true
  },
  "globals": {
    "require": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "eqeqeq": [2, "smart"],
    "react/jsx-boolean-value": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": [2, {
      "order": [
        "lifecycle",
        "everything-else",
        "rendering"
      ],
      "groups": {
        "rendering": [
          "render",
          "/^_render.+$/"
        ]
      }
    }],
    "react/sort-prop-types": 2,
    "react/wrap-multilines": 2
  }
}

