.calendar-month {
  width: 300px;
  -webkit-user-select: none;
  display: table;
}

.calendar-week,
.calendar-days_of_week {
  display: table-row;
}

.calendar-day,
.calendar-days_of_week_day {
  display: table-cell;
  text-align: center;
  line-height: 30px;
  opacity: 0.5;
}

.calendar-day.is-selectable {
  cursor: pointer;
}

.calendar-day.is-disabled {
  background-color: #f5f5f5;
}

.calendar-day.is-current_month {
  opacity: 1;
}

.calendar-day.is-selected {
  background-color: green;
}

.calendar-day.is-selected.is-start_selection {
  background-color: red;
}

.calendar-day.is-selected.is-end_selection {
  background-color: blue;
}

.calendar-header_button.is-prev:before {
  content: '<';
}

.calendar-header_button.is-next:before {
  content: '>';
}
