name: Release

on:
  push:
    branches: [master]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      # Check out
      - uses: actions/checkout@v1
        with: {submodules: true}

      # Get local dependencies
      - run: yarn install

      # TODO enable storybook deploy on CI
      # Generate static storybook
      # - run: yarn storybook:build

      # # Deploy static storybook
      # - run: yarn storybook:deploy

      # Create release
      - run: ./node_modules/.bin/semantic-release --debug
        env:
          GH_TOKEN: ${{ secrets.RELEASE_GITHUB_API_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
